---
layout: default
title: מובייל ובירה
---
<div id="home">
  <h1>פרקים</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
        {% if post.beer %}
          <small>[{{ post.beer}}]</small>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class='links'>
      <a href='https://itunes.apple.com/il/podcast/mwbyyl-wbyrh/id666362146'>
        <img src='/images/Available_on_iTunes_Badge_HB_110x40_1113.png' alt='available_on_itunes'/>
      </a>
      <a href='/podcast.xml'>
        <img src='/images/rss.png' alt='rss feed'/>
      </a>
  </div>
</div>
