<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mobilebeer.css">
    <link rel=”apple-touch-icon” sizes=”114×114″ href=”/images/114.jpg” />
    <link rel=”apple-touch-icon” sizes=”72×72″ href=”/images/72.jpg” />
    <link rel=”apple-touch-icon” href=”/images/57.jpg” />
</head>
<body>
<div class="container">
    <div class="site">
        <div class="header">
            <div class='logo'></div>
            <div class='titles'>
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
                <h2 class='subtitle'>
                        פודקאסט בנושאי פיתוח מובייל
                        iOS, Android & Web
                </h2>

            </div>
        </div>
        {{ content }}
        <div class="footer">
            <div class='contacts'>

                <h2>מי אנחנו</h2>
                <div class='contact eng'>
                    <img src='/images/yoni.jpg'/>
                    <div class='info'>
                        <strong>Yoni Tsafir</strong>
                        <a href='https://twitter.com/theyonibomber'>@theyonibomber</a>
                        <p class='blurb'>Music Education Apps Developer & Musician @ JoyTunes</p>
                    </div>
                </div>
                <div class='contact eng'>
                    <img src='/images/aviv.jpg'/>
                    <div class='info'>
                        <strong>Aviv Ben-Yosef</strong>
                        <a href='https://twitter.com/avivby'>@avivby</a>
                        <p class='blurb'>Hacker, Entrepreneur, Freelancer</p>
                    </div>
                </div>
                <div class='contact eng'>
                    <img src='/images/yon.jpg'/>
                    <div class='info'>
                        <strong>Yonatan Bergman</strong>
                        <a href='https://twitter.com/yonbergman'>@yonbergman</a>
                        <p class='blurb'>Tech Lead, Ruby & iOS Developer @ eBay Israel Innovation Center</p>
                    </div>
                </div>
            </div>

            <div class='contact-us'>
                <h2>צרו קשר</h2>
                <div class='links'>
                    <i class='icon-twitter'></i>
                    <a href='https://twitter.com/mobileandbeer'>@mobileandbeer</a>
                    <span class='sep'>•</span>
                    <i class='icon-envelope'></i>
                    <a href='javascript:;'>contact<strong>@</strong>mobileandbeer.com</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
